
{% extends "blog/blog_base.html" %}
{% load static %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block css %}
 <style type="text/css">
     .row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
 </style>
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="/static/base/js/main.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block navblock %}
<li><a href="{% url 'blog:all' %}"><span class="fa fa-pencil fa-lg"></span> All Blogs</a></li>
{% endblock %}

{% block body_block %}

<main role="main">
  <header class="jumbotron" style="background: #333; color: #fff;">
    <div class="container">
      <h1>{{ post.title }}</h1>
    </div>
  </header>

    <div class="container">
      <div class="row">
      <ol class="col-12 breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'blog:all' %}">All Blogs</a></li>
        <li class="breadcrumb-item active">{{ post.title }}</li>
      </ol>
    </div>
    </div>
  <div class="container">
    <p><span class="fa fa-calendar-check-o"></span> Published: {{ post.pub_date }} </p>
    {{ post.content|safe }}
  </div>
</main>



{% endblock %}
